
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFCF5;
    width: 438px;
    height: 500px;
    padding: 0;
    margin: 17px;
    margin-right: -15px;
    display: flex;
    flex-direction: column;
}

.header {
    width: 180px;
    height: 32px;
    background-image: url('media/BuildMap.svg');
  }

.choose-problem {
    margin-top: 20px;
    font-size: 14px;
    color: black;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.dropdown {
    display: flex;
    width: 400px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    border: 0.5px solid #000;
}

.dropdown select {
    width: 100%;
    height: 100%;
    font-size: 13px;
    padding: 7px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M3.204 5h9.592L8 10.481 3.204 5z"/></svg>') no-repeat;
    background-position: 95% center; /* Adjust these values to position the icon properly */
    border: none;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Chrome and Safari */
}


.info-card {
    width: 400px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFE8B2;
    background: #FFF4DA;
    margin-top: 10px;
}

.info-card-text{
    margin: 100px;
    align-items: center;
    text-align: center;
    font-family: Poppins, sans-serif;
    
}

.framework-card{
    margin: 11px;
    padding: 10px 8px;
    padding-bottom: 5px;
    width: 360px;
    height: 75px;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
    border: 1px solid #E8E8E8;
    background: #FFFCF5;    
}

.framework-title{
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: bold;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.24px;
    display: flex;
    justify-content: space-between;
}

.framework-desc{
    color: #393939;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 10.96px */
    letter-spacing: -0.28px;
    display: flex;
    width: 212px;
    margin-top: -16px;
    line-height: 1.23;
}

.framework-btn{
    cursor: pointer;
    margin-top: 12px;
    margin-right: 8px;
    padding: 10px 8px;
    border-radius: 5px;
    background: #FFC63F;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    border: 0;
    align-items: left;
    font-weight: 700;
    width: 120px;
    transition: background-color 0.3s, color 0.3s;
}
.framework-btn:hover {
    background-color: #FFB31A;  /* Slightly darker shade of the original color */
}

.toast {
    max-width: 250px;
    height: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 12px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 11px;
    animation: fadeout 1s 3s forwards; /* It will hide after 3 seconds */
}

@keyframes fadeout {
    from { bottom: 30px; opacity: 1; }
    to { bottom: 0px; opacity: 0; }
}

#tutorial{
    display: none;
    margin: 10px;
}